@import 'variables'

*
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  outline: none

::-moz-selection
  color: #fff
  color: rgba(255, 255, 255, 0.85)
  background: $muxu-green

::selection
  color: #fff
  color: rgba(255, 255, 255, 0.85)
  background: $muxu-green

html
  background: $muxu-green

body
  background: $white
  font-family: 'Roboto', sans-serif

// Texts

h1, h2
  font-size: 32px
  line-height: 44px
  font-weight: 300

h3
  font-size: 16px
  font-weight: 500

h4
  font-size: 14px
  opacity: 0.5
  margin-bottom: 8px

h5
  font-size: 20px

p
  font-size: 18px
  line-height: 28px

// Links

a
  text-decoration: none
  color: $black
  font-size: 18px

.underlined
  padding-bottom: 10px
  border-bottom: 1px solid $muxu-green
  display: inline-block

  &::after
    content: '→'
    margin-left: 5px
    transition: .3s margin ease-in-out

  &:hover

    &::after
      margin-left: 20px

// Layout

.flex-row
  display: flex
  flex-direction: row

.flex-column
  display: flex
  flex-direction: column

.space-between
  justify-content: space-between

.space-around
  justify-content: space-around

.center
  justify-content: center

.align-center
  align-items: center

.visible
  display: block

.invisible
  display: none

.wrapper
  max-width: 980px
  margin: 0 auto
  padding: 100px 20px

@media screen and (max-width: 700px)

  .wrapper
    padding: 50px 20px
